.layer-opening,.alert-opening {
    @include animation(layerIn .3s ease-out forwards);
    @include keyframes (layerIn) {
        0% {
            opacity: 0;
            -webkit-transform: scale3d(1.5, 1.5, 1.5);
            -moz-transform: scale3d(1.5, 1.5, 1.5);
            -ms-transform: scale3d(1.5, 1.5, 1.5);
            transform: scale3d(1.5, 1.5, 1.5);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 1);
            -moz-transform: scale3d(1, 1, 1);
            -ms-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }
}

.layer-closing,.alert-closing {
    @include animation(layerOut .2s ease-out forwards);
    @include keyframes (layerOut) {
        0% {
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 1);
            -moz-transform: scale3d(1, 1, 1);
            -ms-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
        100% {
            opacity: 0;
            -webkit-transform: scale3d(1.5, 1.5, 1.5);
            -moz-transform: scale3d(1.5, 1.5, 1.5);
            -ms-transform: scale3d(1.5, 1.5, 1.5);
            transform: scale3d(1.5, 1.5, 1.5);
        }
    }
}

.tooltip.zoomIn {
    @include animation(zoomIn 0.2s);
    @include keyframes (zoomIn) {
        from {
            opacity: 0;
            -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
          }

          50% {
            opacity: 1;
          }
    }
}

.tooltip.fadeIn {
    @include animation(fadeIn 0.5s);
    @include keyframes (fadeIn) {
         from {
            opacity: 0;
          }

          to {
            opacity: 1;
          }
    }
}