.fadeIn{
    @include animation(fadeIn .35s ease-out forwards);
    @include keyframes (fadeIn) {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.fadeInDown {
    @include animation(fadeInDown 0.25s ease-out forwards);
    @include keyframes (fadeInDown) {
        0% {
            opacity: 0;
            @include transform(translateY(-20%));
        }
        100% {
            opacity: 1;
            @include transform(translateY(0%));
        }
    }
}
