@charset "UTF-8";
/**
 * mixin : gradient
 * @param   $bgColor     [background color]
 * @param   $bgOpacity   [opacity]
 * @param   $supportIE   [compact IE]
 */

@mixin gradient($bgColor, $bgOpacity, $supportIE:true) {
    background-color: rgba($bgColor, $bgOpacity);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{ie-hex-str(rgba($bgColor,$bgOpacity))}, endColorstr=#{ie-hex-str(rgba($bgColor,$bgOpacity))});
    @if $supportIE {
        :root & {
            filter: none;
        }
    }
}

$iui-z-index:1000;

$iui-z-index-layer-backdrop:$iui-z-index;
$iui-z-index-layer:$iui-z-index + 1;

$iui-z-index-loading-backdrop : $iui-z-index + 100;
$iui-z-index-loading : $iui-z-index + 101;

$iui-z-index-dialog-backdrop : $iui-z-index + 10;
$iui-z-index-dialog : $iui-z-index + 11;

$dialog-color:#333 #666;
$dialog-header-font:bold 16px/1.2 "微软雅黑";
$dialog-content-font:normal 14px/1.8 "微软雅黑";
$dialog-footer-font:normal 18px/1.2 "微软雅黑";
$dialog-width:400px;

$tooltip-trbl-1:50%;
$tooltip-trbl-2:-10px;
$tooltip-margin:-5px;
$tooltip-border-1:10px solid #3f403b;
$tooltip-border-2:5px solid transparent;


%backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(143,27,15,0.8);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    @include gradient(#000, .35);
}

.hide {
    display: none;
}