@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: darken($color,5%);
    background-color: darken($background, 5%);
        border-color: darken($border, 25%);
        outline: none;
    text-decoration: none;
  }
  &:hover {
    color: darken($color,5%);
    background-color: darken($background, 5%);
        border-color: darken($border, 12%);
    text-decoration: none;
  }
}
.IUI-dialog-backdrop {
    @extend %backdrop;
    z-index: $iui-z-index-dialog-backdrop;
}

.IUI-dialog-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    text-align: center;
    -webkit-overflow-scrolling: touch;
    z-index: $iui-z-index-dialog;
    &:after {
        display: inline-block;
        height: 100%;
        margin-left: -.05em;
        content: "";
        vertical-align: middle;
    }
}

.IUI-dialog-main {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #333;
    width: $dialog-width;
    outline: 0;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #2b2e38;
    background: #fff;
    display: inline-block;
    vertical-align: middle;

}

.IUI-dialog-header {
    color: nth($dialog-color,1);
    font: $dialog-header-font;
    text-align: left;
    border-bottom: 1px #e0e0e0 solid;
    padding: 10px 15px;
    position: relative;
}

.IUI-dialog-content {
    font: $dialog-content-font;
    color: nth($dialog-color,2);
    padding: 15px;
    text-align: left;
}

.IUI-dialog-footer {
    border-top: 1px #e0e0e0 solid;
    text-align: right;
    padding: 10px 15px;
}

.IUI-dialog-confirm,
.IUI-dialog-cancel {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width:52px;
    text-decoration: none;
}

.IUI-dialog-confirm {
    margin-right:10px;
    @include button-variant(#fff, #428bca, #428bca);
}

.IUI-dialog-cancel {
    @include button-variant(#333, #fff, #ccc);
}


%extend-style{
    padding-left: 110px;
    width:330px;
}

.IUI-dialog-main.success {
    @extend %extend-style;
    &:before {
        content: '\e632';
        color:#90bf00;
    }
}
.IUI-dialog-main.error {
    @extend %extend-style;
    &:before {
        content: '\e68e';
        color:#f24f00;
    }
}
.IUI-dialog-main.warning {
    @extend %extend-style;
    &:before {
        content: '\e68e';
        color:#f3c901;
    }
}